.container_ingredients {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0; 
  padding: 0;
  width: 272px;
  height: 208px;
  position: relative;
  text-decoration: none !important;
}

.image {
  width: 240px;
  height: 116px;
}

.image_counter {
}

.price {
  display: flex;
  color: #F2F2F3;
}

.name {
  text-align: center;
  color: #F2F2F3;
}
