.container_layers {
  display: flex; 
  flex-direction: column;
  gap: 16px;
  width: 584px;
  height: 700px;
}

.main_layers {
  display: flex; 
  flex-direction: column;
  gap: 16px;
  overflow: auto;
}

.make_order {
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 536px;
  height: 100px;
}

.currency > svg{
  width: 33px;
  height: 33px;
}

.empty_default_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  box-shadow: 4px 4px 70px 0px #2c0266; 
  border-radius: 10px;
}